.ven p{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.ven h2{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.ven{
    margin-left: 500px;
}
.img{
    width: 450px;
    border-radius: 20px;
}
.fash{
    font-family: Arial, Helvetica, sans-serif;
}
.fash p{
    padding: 10px;
}
.fash h2{
    padding: 10px;
    margin: 0;
}
.mira{
    display: flex;
    justify-content: space-around;
    gap: 260px;
    align-items: center;
    border: 1px solid grey;
    color: rgb(122, 122, 255);
    margin: 10px;
    border-radius: 20px;
    width: 700px;
    margin-bottom: 25px;
}
.hat{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}